<section class="sh-auth-welcome__container">

  <div class="sh-auth-welcome__title">
    <span class="sh-sh-auth-welcome sh-auth-welcome__title_name">{{appName}}</span>
  </div>

  <div class="sh-auth-welcome__content" fxLayoutAlign="center center" fxLayout="column">

    <div class="sh-auth-welcome__content-message">
      <h1 class="sh-auth-welcome__content sh-auth-welcome__content_expr" fxLayoutAlign="center center" fxLayout>
        <b>Hey There!</b>
      </h1>

      <div class="sh-auth-welcome__content sh-auth-welcome__content_welcome-txt">
        <small>Welcome Back.</small>
      </div>
      <div>
        <small>you are just one step away to your feed</small>
      </div>
    </div>

    <div  class="sh-auth-welcome__sign-up-link-block" fxLayout="column" fxLayoutAlign="center center">
      <p class="sh-auth-welcome__dont-have-acc">
        Don't have an account?
      </p>
      <div  class="sh-auth-welcome__sign-up-btn-block">
        <button class="sh-auth-welcome__sign-up-btn" mat-raised-button>Sign Up</button>
      </div>
    </div>

  </div>
</section>
