<form class="sh-auth-sign-in__form">
  <h1 class="sh-auth-sign-in__title">SIGN UP</h1>

  <div class="sh-auth-sign-in__form-feilds">
    <div>
      <mat-form-field class="sh-auth-sign-in__form-feild" appearance="outline" floatLabel="never">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="sh-auth-sign-in__form-feild" appearance="outline" floatLabel="never">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email id">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="sh-auth-sign-in__form-feild" appearance="outline" floatLabel="never">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter the password">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="sh-auth-sign-in__form-feild" appearance="outline" floatLabel="never">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Enter the password again">
      </mat-form-field>
    </div>
    <div class="sh-auth-sign-in__other-option" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox>accept privacy policy</mat-checkbox>
    </div>
  </div>

  <div class="sh-auth-sign-in__submit-block">
    <button class="sh-auth-sign-in__submit sh-auth-sign-in__submit-block_btn" color="primary" mat-raised-button> Sign up</button>
  </div>

</form>
